body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background:black;
}
.job-card {
    width: 320px;
    background:#0056b3;
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
}

.job-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 6px 18px rgba(0,0,0,0.2); */
}

.job-logo {
    width: 100wv;
    height: 60px;
    object-fit: contain;
}

.job-title {
    font-size: 22px;
    font-weight: bold;
}

.job-company {
    font-size: 18px;
    color:white;
}

.job-role, .job-salary {
    font-size: 16px;
    color:white;
}

.job-description {
    font-size: 14px;
    color:white;
}

.apply-btn {
    margin-top: 10px;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.apply-btn:hover {
    background: #0056b3;
    color:red
}
